@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

.main_click {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.mains {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

.main_count {
    font-size: 30px;
    color: #000;
}

.container {
    width: min(100% - 30px, 1400px);
    margin-inline: auto;
}

.main {
    cursor: pointer;
    width: 200px;
    height: 250px;
    image-rendering: optimizeQuality;
}

.main:active {
    transform: translateX(10px) rotate(10deg) translateY(5px);
    filter: brightness(0) saturate(100%) invert(19%) sepia(58%) saturate(7481%) hue-rotate(357deg);
}

.main_up {
    display: flex;
    justify-content: right;
    margin-top: 240px;
    width: 640px;
}

.main_ups {
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding-right: 75px;
}

.main_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 640px;
}

.spells {
    display: flex;
    justify-content: center;
    padding-left: 46px;
    padding-top: 65px;
}

.spellBtn {
    cursor: pointer;
    background-color: #183d0d;
    color: #fff;
    padding: 20px;
}

.spellBtn:active {
    transform: scale(1.08)
}

.btn {
    display: none;
    cursor: pointer;
    background: url(./img/btn.png) no-repeat;
    background-size: cover;
    border-radius: 20px;
    border: 2px green solid;
    width: 355px;
    height: 137px;
    color: #183d0d;
    font-weight: 600;
    font-size: 20px;
    transition: transform .1s ease-in-out;
    font-family: 'Montserrat', sans-serif;
}

.btn:active {
    transform: scale(1.08)
}

.disabled {
    filter: grayscale(100%) brightness(90%);
    color: #3d3d3d;
    cursor: inherit;
}

.main_statistic {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 640px;
}

.active {
    display: block;
}

.CountStatistic {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 15px;
}

.red {
    color: red;
}

@media (max-width: 750px){
    .mains {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
    }

    .main_up {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding-right: 50px;
    }
}
