@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Pixelify+Sans&family=Press+Start+2P&display=swap');

body {
    height: 100%;
    background: url(./img/bg2.png) no-repeat;
    background-size: 100% 100%;
    font-family: 'Press Start 2P', sans-serif;
}

html {
    background: url(./img/bg3.png) no-repeat;
    background-size: 50% 92%;
    background-position: 50% 100%;
}

* {
    padding: 0;
    margin: 0;
    user-select: none;
}

.main_click {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    align-items: center;
    padding-top: 50px;
}

.mains {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

.main_count {
    font-size: 25px;
    line-height: 1.5;
    color: #fff;
}

.container {
    width: min(100% - 30px, 1400px);
    margin-inline: auto;
}

.main {
    cursor: pointer;
    width: 300px;
    height: 350px;
    image-rendering: optimizeQuality;
}

.main:active {
    transform: translateX(10px) rotate(10deg) translateY(5px);
    filter: brightness(0) saturate(100%) invert(19%) sepia(58%) saturate(7481%) hue-rotate(357deg);
}

.main_up {
    display: flex;
    justify-content: right;
    margin-top: 121px;
    width: 640px;
}

.main_ups {
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding-right: 235px;
}

.main_inner {
    display: flex;
    flex-direction: column;
    width: 640px;
}

.cs {
    font-size: 75px;
    padding-left: 10px;
    padding-top: 10px;
    color: #8dab7a;
}

.spells {
    display: flex;
    justify-content: center;
    align-items: top;
    padding-left: 46px;
}

.spellBtn {
    cursor: pointer;
    background-color: #183d0d;
    color: #fff;
    width: 95px;
    height: 95px;
    margin-left: 15px;
    margin-top: 20px;
    border: 0;
}

.spellBtn:active {
    transform: scale(1.08)
}

.btn {
    display: none;
    cursor: pointer;
    background: url(./img/btn.png) no-repeat;
    background-size: 100% 100%;
    border-radius: 20px;
    padding-left: 10px;
    width: 375px;
    height: 135px;
    color: #39f143;
    font-size: 17px;
    border: 0;
    transition: transform .1s ease-in-out;
    font-family: 'Press Start 2P', sans-serif;
}

.btn:active {
    transform: scale(1.08)
}

.disabled {
    filter: grayscale(100%) brightness(90%);
    color: #535353;
    cursor: inherit;
}

.disabled:active{
    transform: scale(1);
}

.main_statistic {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 640px;
}

.active {
    display: block;
}

.CountStatistic {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.red {
    color: red;
}

@media (max-width: 750px){
    .mains {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
    }

    .main_up {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding-right: 50px;
    }
}
